<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="${ALLUSERSPROFILE}\Mironworks\Slouch Interceptor\SlouchInterceptor.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="4MB" />
			<maxSizeRollBackups value="1" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ISO8601} %-5level - %message (%logger [%thread])%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libraries" />
		</assemblyBinding>
	</runtime>

</configuration>