<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mironworks.SlouchInterceptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Mironworks.SlouchInterceptor.Properties.Settings>
      <setting name="OverlayShowInterval" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="OverlayShowDuration" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="IdleResetThreshold" serializeAs="String">
        <value>180</value>
      </setting>
    </Mironworks.SlouchInterceptor.Properties.Settings>
  </userSettings>
</configuration>